@model IEnumerable<SmartphoneShop.ViewModels.OrderViewModel>

@{
    ViewData["Title"] = "UserCart";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>User's Cart of @User.Identity.Name</h1>
@{
    float total = 0;
    using var enumerator = Model.GetEnumerator();

    while (enumerator.MoveNext())
    {
        if (enumerator.Current != null)
        {
            total += enumerator.Current.GadgetPrice;
        }
    }
}
<p>Total price: @total</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.GadgetName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GadgetPrice)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.GadgetName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PhoneNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GadgetPrice)
                </td>
                <td>
                    <ul>
                        <li>@Html.ActionLink("Edit", "EditCartItem", new { orderId = item.OrderId })</li>
                        <li>@Html.ActionLink("Cancel Order", "DeleteCartItem", new { orderId = item.OrderId })</li>
                    </ul>
                </td>
            </tr>
        }
    </tbody>
</table>
